{% load static %}
<footer>
    <div class="footer-content">
        <p class="first-footer-element">&copy; 2024 Smart Price. </p>
        <p>Contact us on:</p>
        <a class="no-decoration logo-link" href="https://twitter.com" target="_blank"><img class="logo-icon x-logo-icon"
                                                                                                   src="{% static 'parser/images/x.svg' %}"
                                                                                                   alt="x-icon"></a>
        <a class="no-decoration logo-link" href="https://telegram.org" target="_blank"><img class="logo-icon"
                                                                                                   src="{% static 'parser/images/telegram.svg' %}"
                                                                                                   alt="telegram-icon"></a>
        <a class="no-decoration logo-link" href="https://instagram.com" target="_blank"><img class="logo-icon inst-logo-icon"
                                                                                                   src="{% static 'parser/images/instagram.svg' %}"
                                                                                                   alt="telegram-icon"></a>
        <p>Njegoševa 16, Podgorica 81000, Montenegro</p>
        <a href="https://en.wikipedia.org/wiki/Privacy_policy" class="no-decoration" target="_blank"><p class="footer-link">Privacy policy</p></a>
        <a href="https://en.wikipedia.org/wiki/Category:Licensing" class="no-decoration" target="_blank"><p class="footer-link">Licensing</p></a>
    </div>
</footer>