{% load static %}
<footer>
    <div class="footer-content">
        <p>&copy; 2024 Smart Price. </p>
        <p>Contact us on:</p>
        <a class="no-decoration logo-link" href="https://twitter.com" target="_blank"><img class="logo-icon x-logo-icon"
                                                                                                   src="{% static 'parser/images/x.svg' %}"
                                                                                                   alt="x-icon"></a>
        <a class="no-decoration logo-link" href="https://telegram.org" target="_blank"><img class="logo-icon"
                                                                                                   src="{% static 'parser/images/telegram.svg' %}"
                                                                                                   alt="telegram-icon"></a>
    </div>
</footer>