{% load static %}

<div class="title-section">
    <img src="{% static 'parser/images/logo.svg' %}" alt="" srcset="">
    <h3 class="main-title"><a href="{% url 'index' %}" class="no-decoration">Smart Price</a></h3>
</div>
<h2 class="header-element"><a href="{% url 'about' %}">About</a></h2>
<div class="search-section">
</div>
{#<div class="category-note">#}
{#    {% if category %}#}
{#        <p class="main-title">Category:&nbsp&nbsp <b>{{ category.capitalize }}</b></p>#}
{#    {% else %}#}
{#        <p class="main-title">Category:&nbsp&nbsp <b>Not selected</b></p>#}
{#    {% endif %}#}
{#</div>#}