<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'parser/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/products.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/footer.css' %}">
    <link rel="icon" type="image/png" href="{% static 'parser/images/logo.svg' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Price Main</title>
</head>
<body>
<header>
    {% include 'includes/navbar.html' %}
</header>
<main>
    <div class="description-container">
        <h2 class="about-title">A bit about us</h2>
        <p class="about-text">At our core, we are a small team of dedicated programmers who are deeply passionate about what we do. We
            believe in
            harnessing the power of technology to benefit society, and our website is a testament to that ethos. With a
            focus on innovation and user-centric design, we continually strive to improve and enhance the online
            shopping experience for everyone. Our commitment to excellence drives us to push boundaries and deliver
            value to our users every step of the way.</p>
    </div>
</main>
{% include 'includes/footer.html' %}
</body>
</html>