<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'parser/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/products.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/footer.css' %}">
    <link rel="icon" type="image/png" href="{% static 'parser/images/logo.svg' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Price Main</title>
</head>
<body>
<header>
    {% include 'includes/navbar.html' %}
</header>
<main>
    <div class="description-container">
        <h2 class="about-title">Product Capabilities</h2>
        <p class="about-text">Welcome to our website, where you can effortlessly find the best deals on tech products
            gathered from various online retailers. Our platform simplifies the process of finding the most affordable
            options for items you're interested in. Whether it's smartphones, laptops, or other gadgets, our site allows
            you to quickly compare prices across multiple sources, ensuring you get the best value for your money.
            Additionally, users can browse through categories to refine their search and obtain more accurate results
            tailored to their needs</p>
    </div>
    <div class="description-container ds2">
        <h2 class="about-title">Our partnerships</h2>
        <p class="about-text">
            Our platform collaborates with a wide range of trusted partners to ensure that you have access to the most
            extensive selection of products and the best deals available online.
        </p>
    </div>
    <div class="partnerships">
        <a href="https://www.tehnomax.me" class="no-decoration" target="_blank"><img
                src="{% static 'parser/images/shop_logo/tehnomax.png' %}" alt="tehnomax"></a>
        <a href="https://datika.me" class="no-decoration" target="_blank"><img
                src="{% static 'parser/images/shop_logo/multicom.png' %}" alt="multicom"></a>
        <a href="https://www.multicom.me" class="no-decoration" target="_blank"><img
                src="{% static 'parser/images/shop_logo/datika.png' %}" alt="datika"></a>
    </div>
</main>
{% include 'includes/footer.html' %}
</body>
</html>