<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'parser/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/products.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/footer.css' %}">
    <link rel="icon" type="image/png" href="{% static 'parser/images/logo.svg' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Price Main</title>
</head>
<body>
<header>
    {% include 'includes/navbar.html' %}
</header>
<main>
    <div class="description-container">
        <h2 class="about-title">Contact us</h2>
        <p class="about-text">
            Here is gonna be contact form.
        </p>
    </div>
</main>
{% include 'includes/footer.html' %}
</body>
</html>