<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'parser/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'parser/css/products.css' %}">
    <link rel="icon" type="image/png" href="{% static 'parser/images/logo.svg' %}">
    <script src="{% static 'parser/js/display_products.js' %}"></script>
    <script src="{% static 'parser/js/categories.js' %}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Price Main</title>
</head>
<body>
<header>
    {% include 'includes/navbar.html' %}
</header>
<main>
    {% include 'includes/search-container.html' %}
</main>
<footer>
</footer>
</body>
</html>