main {
    height: calc(100vh - 60px); /* Замени headerHeight и footerHeight на фактические значения высоты header и footer */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0D2043;
}

.search-text {
    color: white;
    font-size: 0.8em;
    margin-right: 30px;
    font-style: italic;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.description-container {
    width: 50%;
    text-align: center;
}

.ds2 {
    margin-top: 50px;
}

.partnerships {
    display: flex;
    justify-content: space-between;
}

.partnerships img {
    margin-right: 30px; /* Расстояние между картинками */
    width: 200px;
    height: 60px;
    margin-top: 20px;
}

/* Убираем отступ для первой картинки */
.partnerships image:first-child {
    margin-left: 0;
}

.about-container {
    display: flex;
}

/* Скрыть стандартный скроллбар */
::-webkit-scrollbar {
    width: 10px;
}

/* Добавить градиентный фон для ползунка */
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, transparent), #888;
}

/* Изменить внешний вид при наведении курсора на скроллбар */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, transparent), #555;
}