.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
}

.grid-item {
    width: 50%;
    margin: 10px; /* Добавляем отступы между элементами */
    box-sizing: border-box; /* Учитываем отступы в расчетах ширины элемента */
    text-align: center;
}

.grid-item img {
    width: 100%; /* TODO: Разобраться с размером картинок
    height: auto;
}


.shop-name {
    display: grid;
    grid-template-columns: auto;
    justify-content: center; /* Выравниваем по горизонтали */
    align-items: center; /* Выравниваем по вертикали */
}

.empty-result {
    align-items: center; /* Выравниваем по вертикали */
}

ul {
    list-style-type: none;
}