#products_window {
    display: flex;
    justify-content: center;
    background-color: #F3F2F2;
}


.products-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 12px;
}

.product {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 160px;
    height: 300px;
    border-radius: 2rem;
    transition: transform 0.5s;
}

.product:hover {
    border: 1px solid rgb(202, 183, 39);
    transform: scale(1.01);
    transition-duration: 0.5s;
}


.product-title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #1b3974;
    height: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#productImage {
    max-width: 75%;
    height: 30%;
}

.shop_logo {
    width: 80%;
    height: 14%;
    margin-top: 10px;
}

.product-desc {
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.product-id-wrapper {
    background-color: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: bold;

}

.product-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 15px;
}

.about-text {
    margin: 0;
    color: white;
    font-size: 1em;
    line-height: 1.3;
}

.about-title {
    margin: 0;
    color: white;
    margin-bottom: 10px;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 6% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 7%;
    border-radius: 1em;
}

/* The Close Button */
#close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
    color: #a31010;
    text-decoration: none;
    cursor: pointer;
}

#scroll-to-top {
    width: 90px;
    position: fixed;
    top: 70px; /* Отступ от верхнего края экрана */
    left: 18px; /* Отступ от правого края экрана */
    display: none; /* Скрыть стрелку по умолчанию */
    z-index: 999; /* Установка z-index для обеспечения отображения поверх других элементов */
    cursor: pointer;
    animation: sway 2s ease-in-out infinite alternate; /* Применяем анимацию */
}

@keyframes sway {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Качание вверх */
    }
    100% {
        transform: translateY(0);
    }
}

.tools-container {
    height: 50px;
    background-color: #F3F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-by-text {
    margin-left: 50px;
    margin-right: 30px;
    font-weight: bold;
}

.price-range {
    display: flex;
    align-items: center;
}

.price-range label {
    margin-right: 10px;
    font-weight: bold;
}

.price-range input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90px;
    margin-right: 10px;
    height: 9px;
    text-align: center;
}

.sort-button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.sort-button:hover {
    background-color: #45a049;
}
